# PYTHON BASIC EXERCISES

These exercises was taken from my online course in Introduction to Python (Coursera.org)

#### Exercise 1

In [1]:
# Hello World

def hello():
    print ("Hello World")

In [4]:
hello()

Hello World

#### Exercise 2

In [16]:
# Compute the area of a circle

def areacircle(radius):
    area = 3/4*radius**2
    print (" area = ", area)

In [17]:
areacircle(12)

 area =  108.0

In [18]:
areacircle(5)

 area =  18.75

#### Exercise 3

In [20]:
# compute the area of a triangle

def areatriangle(b,h):
    area = (b*h)/2
    print("The area of a triangle with the base of", b, "and the height of", h, "is", area)

In [21]:
areatriangle(2,3)

The area of a triangle with the base of 2 and the height of 3 is 3.0

#### Exercise 4

In [2]:
# Temperature Conversion 

def fahrenheit_to_celcius(T):
    C = 5*(T-32)/9
    print ("The Fahrenheit temperature of",T, "is equevalent to", C, "degree Celcius")
    
def celcius_to_fahrenheit(T):
    F = (9/5)*T + 32
    print ("The Celcius temperature of",T, "is equevalent to", F, "degree Fahrenheit")

In [5]:
fahrenheit_to_celcius(100)

The Fahrenheit temperature of 100 is equevalent to 37.77777777777778 degree Celcius

In [6]:
celcius_to_fahrenheit(100)

The Celcius temperature of 100 is equevalent to 212.0 degree Fahrenheit

#### Exercise 5

In [11]:
# Input first name and last name, combine to onstring and print

def name():
    firstname = input("Enter your First Name:")
    lastname = input("Enter your Last Name:")
    fullname = firstname + " "+ lastname
    print("Your name is ", fullname)

In [12]:
name()

Enter your First Name:James
Enter your Last Name:Jones
Your name is  James Jones

#### Exercise 6

In [15]:
# Personal information containing your name and address

def Personal_info():
    firstname = input("Enter your First Name:")
    lastname = input("Enter your Last Name:")
    fullname = firstname + " "+ lastname
    
    city = input("Enter your City:")
    country = input("Enter your Country:")
    address = city + ","+ country
    
    print("Your name is ", fullname)
    print("Your live in ", address)

In [16]:
Personal_info()

Enter your First Name:James
Enter your Last Name:Jones
Enter your City:New York
Enter your Country:USA
Your name is  James Jones
Your live in  New York,USA

#### Exercise 7

In [17]:
# if statement samples (if, if-else, if-elif, else)

def if_statement():
    
    x = 5
    y = 0
    z = 0
    
    if x > 0:
        print("x is positive")
    if y > 0:
        print("y is positive")
    else:
        print("y is not positive")
        
    if z > 0:
        print("z is positive")
    elif z < 0:
        print ("z is negative")
    else:
        print("z must be 0")

In [18]:
if_statement()

x is positive
y is not positive
z must be 0

#### Exercise 8

In [31]:
# Python uses "=" for assignment and "==" for testing equality. Also "!=" is used to test for non-equality.

x = 5
y = 5
z = 6

print("x is equal to y:", x==y)
print("x is not equal to y:",x!=y)
print("x is equal to z:",x==z)
print("x is not equal to z:", x!=z)

x is equal to y: True
x is not equal to y: False
x is equal to z: False
x is not equal to z: True

#### Exercise 9

In [58]:
# The following function uses an "if" statement. Note that the indentation marks the scope of the if, elif, else action.

def area(type_, x):
    
    if type_ == "circle":
        area = 3.1416*x**2
        print(area)
    elif type_ == "square":
        area = x**2
        print(area)
    else:
        print("I don't know that one.")

In [56]:
area("circle",2)

12.5664

In [59]:
area("square",2)

4

In [60]:
area("round", 5)

I don't know that one.

#### Exercise 10

In [61]:
# Write a function absolutevalue(num) that computes the absolute value of a number. You will need
# to use an "if" statement. Remember if a number is less than zero then you must multuply by
# -1 to make it greater than zero. Give output in the form:
# "The absolute value of -5 is 5.

def absolutevalue(x):
    
    if x >= 0:
        y = x
    else:
        y = -x
    print("The absolute value of", x, "is", y)

In [62]:
absolutevalue(-5)

The absolute value of -5 is 5

#### Exercise 11

In [73]:
# String to integer input sample.

def TempConv():
    
    print ("Temperature Conversion of Fahrenheit and Celcius")
    print()
    T = input("Enter F if temperature is in Fahrenheit and C if in Celcius: ")
    if T == "F":
        t = input(" Enter the temperature: ")
        t1 = int(t)
        t2 = 5*(t1-32)/9
        print()
        print("The Fahrenheit temperature of", t1, "is equal to", t2, "degree Celsius")
    
    elif T == "C":
        t = input(" Enter the temperature: ")
        t1 = int(t)
        t2 = (9/5)*t1 + 32
        print()
        print("The Celsius temperature of", t1, "is equal to", t2, "degree Fahrenheit")
    else:
        print()
        print("Invalid input")

In [75]:
TempConv()

Temperature Conversion of Fahrenheit and Celcius

Enter F if temperature is in Fahrenheit and C if in Celcius: F
 Enter the temperature: 100

The Fahrenheit temperature of 100 is equal to 37.77777777777778 degree Celsius

In [76]:
TempConv()

Temperature Conversion of Fahrenheit and Celcius

Enter F if temperature is in Fahrenheit and C if in Celcius: C
 Enter the temperature: 100

The Celsius temperature of 100 is equal to 212.0 degree Fahrenheit

In [77]:
TempConv()

Temperature Conversion of Fahrenheit and Celcius

Enter F if temperature is in Fahrenheit and C if in Celcius: c

Invalid input

#### Exercise 11

In [52]:
# Loop sample

def countdown(x):
    ct = x
    while ct > 0:
        print(ct, end=",")
        ct = ct-1
    print()
    print("Finished")

In [53]:
countdown(50)

50,49,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,
Finished

#### Exercise 12

Take the following list, nlis, and compute its average. That is, write
a function 'average(numlis)' that uses a 'for' loop to sum up the numbers
in numlis and divide by the length of numlis. Just to be sure that you
got all the numbers in numlis, print each one in your 'for' loop and 
print the length of the the list. When using a loop, one always needs to
be careful that it loops as often as is expected. In this case also print out the number of items in the list.
Caution: Do NOT use the variable nlis in your function. This function should work on any list of numbers. Just to be sure make sure that your function (without any changes) works on rlis as well as nlis.

In [1]:
nlis = [2,4,8,105,210,-3,47,8,33,1]  # average should by 41.5
rlis = [3.14, 7.26, -4.76, 0, 8.24, 9.1, -100.7, 4] # average is -9.215

In [6]:
def average(numlis):
    sum_ = 0
    for i in range(0,len(numlis)):
        sum_ = sum_ + numlis[i]
        print(numlis[i])
    average = sum_/len(numlis)
    print("The average is ",average, "and its count is ",len(numlis))

In [7]:
average(nlis)

2
4
8
105
210
-3
47
8
33
1
The average is  41.5 and its count is  10

In [8]:
average(rlis)

3.14
7.26
-4.76
0
8.24
9.1
-100.7
4
The average is  -9.215 and its count is  8

#### Exercise 13


Let me emphasize that you can make a 'for' loop with just a list. 
One can simply step through a list to form the loop.

In this example case it is a list of states and we will simply be stepping 
through the loop and printing out the states.

In [9]:
newEngland = ["Maine","New Hampshire","Vermont", "Rhodes Island", 
"Massachusetts","Connecticut"]

In [47]:
def for_state(slis):
    for state in slis:
        print(state, end="/")

In [48]:
for_state(newEngland)

Maine/New Hampshire/Vermont/Rhodes Island/Massachusetts/Connecticut/

#### Exercise 14

Write a function 'print_list(lis)' that prints items of the list lis. 
Test it by running the three tests that I give here. This requires writing 
a function that includes a loop like the one above, but uses lis for 
the iterator. Inside your function you should use lis to represent the 
list. If you do so, your function should pass all three tests below.

In [12]:
letter_list = ['a', 'b', 'c']
cap_list = ['A', 'B', 'C', 'D']
misc_list = ['ball', 3.14, -50, 'university', "course"]

In [13]:
def print_list(lis):
    for i in lis:
        print(i)

In [15]:
print_list(letter_list)

a
b
c

In [16]:
print_list(cap_list)

A
B
C
D

In [17]:
print_list(misc_list)

ball
3.14
-50
university
course

#### Exercise 15

Often you can convert one type to another: int(z1) makes and returns an 
integer (30); float(z2) returns a float or real number (40.0); str(y) 
returns the string "3.14"; etc. This is important because z1+z2 is not 70 
(it is '3040'); however, int(z1)+int(z2) is 70. Here is a simple program 
showing when you might want to use this technique.

In [22]:
def multiply():
    numstr1 = input("Enter a number: ")
    numstr2 = input("Enter another number: ")
    num1 = float(numstr1)
    num2 = float(numstr2)
    print("Their product is ", num1 * num2)
    # print("Won't work: ", numstr1 * numstr2)

In [23]:
multiply()

Enter a number: 1
Enter another number: 2
Their product is  2.0

#### Exercise 16

List range sample

In [27]:
print(list(range(2,20,3)))
print(range(2,20,3))

[2, 5, 8, 11, 14, 17]
range(2, 20, 3)

In [26]:
# Caution:Notice that large numbers never include commas. Compare these two
# examples.In the second, Python thinks that it is printing 3 numbers not 1.

print(12345678)
print(12,345,678)

12345678
12 345 678

#### Exercise 17

Before writing the function, let's understand this list of lists better.
Try this out. 

What is the first item of newEngland? (i.e., the one of index 0)

What is the second item?

What is the name of the state in the second element? How do we get that?

What is the population of the state in the second element?

In [28]:
NewEngland = [["Massachusetts",6692824],["Connecticut",3596080],
              ["Maine",1328302],["New Hampshire",1323459],
              ["Rhode Island",1051511],["Vermont",626630]]

In [30]:
print(NewEngland[0])
print(NewEngland[1])
print()
state = NewEngland[1]
print("population",state[1],"     name:",state[0])
print()
print(NewEngland[1][0])
print(NewEngland[1][1])

['Massachusetts', 6692824]
['Connecticut', 3596080]

population 3596080      name: Connecticut

Connecticut
3596080

In [31]:
def report1(state_data):
    print("Population            State")
    for state_item in state_data:
        print(state_item[1],"            ", state_item[0])

In [32]:
report1(NewEngland)

Population            State
6692824              Massachusetts
3596080              Connecticut
1328302              Maine
1323459              New Hampshire
1051511              Rhode Island
626630              Vermont

In [33]:
def report2(state_data):
    print("Population            State")
    for i in range(0,len(state_data)):
        print(state_data[i][1],"            ",state_data[i][0])

In [34]:
report2(NewEngland)

Population            State
6692824              Massachusetts
3596080              Connecticut
1328302              Maine
1323459              New Hampshire
1051511              Rhode Island
626630              Vermont

#### Exercise 18

Find the sum of the populations of the New England states. Print
out how many there are. Use a basic loop design pattern.

In [36]:
def population(state_data):
    sum_ = 0
    num_states = len(state_data)
    for i in range(0,num_states):
        one_state = state_data[i]
        pop = one_state[1]
        sum_ = sum_ + pop
    print("The total population of this list of states is",sum_)
    print("There are",num_states,"states in this list of states.")

In [37]:
population(NewEngland)

The total population of this list of states is 14618806
There are 6 states in this list of states.

Version using more syntactic sugar -- the variables have better and more 
meaningful names. This may read better in a bigger program.

In [38]:
def population1(state_data):
    """ Sums state populations """
    population = 1
    sum_ = 0
    num_states  = len(state_data)
    for state in range(0,num_states):
        sum_ = sum_ + state_data[state][population]
    print("The total population of this list of states is",sum_)
    print("There are",num_states,"states in this list of states.")

In [39]:
population1(NewEngland)

The total population of this list of states is 14618806
There are 6 states in this list of states.

#### Exercise 19

Write a function 'average(nlis)' that uses a 'for' loop and 'range()' to sum up the numbers in nlis and divide by the length of nlis. Just to be sure that you have used all the numbers in nlis, print each one in your 'for' loop and print the length of the list. Do not use the variable numlis in your function! If you change to a different list will it work? For numlis, the output should look like:

65 44 3 56 48 74 7 97 95 42 
the average is 53.1

In [40]:
numlis = [65, 44, 3, 56, 48, 74, 7, 97, 95, 42]  # test on this list
numlis2 = [4,6,8,12,2,7,19]     # test on a second list to be sure

In [41]:
def average(nlis):
    sum_ = 0
    for num in nlis:
        sum_ = sum_ + num
        print (num, end=" ")
    print()
    print("the average is ", sum_/len(nlis))

In [42]:
average(numlis)

65 44 3 56 48 74 7 97 95 42
the average is  53.1

In [54]:
average(numlis2)

4 6 8 12 2 7 19
the average is  8.285714285714286

#### Exercise 20

The following example builds a sentence using various parts of speech.
It randomly chooses words from a list by using random.choice(), a function
or method imported from a library called random. We have used a method of the string data type to capitalize the first letter of the sentence.

In [55]:
import random

verbs=["goes","cooks","shoots","faints","chews","screams"]
nouns=["bear","lion","mother","baby","sister","car","bicycle","book"]
adverbs=["handily","sweetly","sourly","gingerly","forcefully","meekly"]
articles=["a","the","that","this"]

In [58]:
def sentence():
    article = random.choice(articles)    
    noun = random.choice(nouns)
    verb = random.choice(verbs)
    adverb = random.choice(adverbs)
    
    our_sentence = article + " " + noun + " " + verb + " " + adverb + "."
    our_sentence = our_sentence.capitalize()
    
    print(our_sentence)

In [62]:
sentence()

That bicycle shoots handily.

In [74]:
print(random.random())

0.24256473015515256

In [69]:
print(random.randint(0,100))

89

#### Exercise 21

Consider the following dictionary of US News and World Reports list of best
affordable sportscars (ascars). Execute the line below so that you have the 
dictionary in your IPython console. Then answer (retrieve) the following.
Press <esc> if you lock up on some step.

a) Type ascars to display the dictionary

b) Using the key retrieve the Nissan sportcar.

b) Using the key retrieve the Chevy sportscar.

c) Change the MINI Cooper car to a "Coupe". Display ascars to check that it
worked.

d) Write a small 2 line loop to display all the values and only the values.

e) Write a small 2 line loop to display all the keys (and only the keys).

In [1]:
ascars = {"Ford" : "Mustang","Mazda" : "Miata", "Scion" : "FR-S", 
"Subaru" : "BRZ","Dodge" : "Challenger", "Nissan" : "370Z", "Chevy" : "Camaro", 
"Hyundai" : "Genesis Coupe" , "MINI Cooper" : "Roadster"}

In [3]:
ascars["Nissan"]

'370Z'

In [4]:
ascars["Chevy"]

'Camaro'

In [5]:
ascars["MINI Cooper"]="Coupe"

In [6]:
ascars

{'Chevy': 'Camaro',
 'Dodge': 'Challenger',
 'Ford': 'Mustang',
 'Hyundai': 'Genesis Coupe',
 'MINI Cooper': 'Coupe',
 'Mazda': 'Miata',
 'Nissan': '370Z',
 'Scion': 'FR-S',
 'Subaru': 'BRZ'}

In [10]:
for value in ascars.values():
    print(value, end=", ")

Mustang, Miata, FR-S, BRZ, Challenger, 370Z, Camaro, Genesis Coupe, Coupe,

In [11]:
for key in ascars.keys():
    print(key,end=", ")

Ford, Mazda, Scion, Subaru, Dodge, Nissan, Chevy, Hyundai, MINI Cooper,

#### Exercise 22

Example of reading from a CSV file and writing each row as a list.

In [11]:
import csv

def read_csv_file(filename):
    f = open(filename)
    for row in csv.reader(f):
        print(row)
    f.close()

In [17]:
read_csv_file("myphones.csv")

['Jerry Seinfeld', '(212) 344-3784']
['George Costanza', '(212) 345-8485']
['Elaine Benis', '(212) 843-2485']
['George Constanza', '(212) 555-7689']

In [18]:
def read_csv_file1(filename):
    """Reads a CSV file and print it as a list of rows."""
    f = open(filename)
    data = []
    for row in csv.reader(f):
        data.append(row)
    print(data)   
    f.close()

In [19]:
read_csv_file1("myphones.csv")

[['Jerry Seinfeld', '(212) 344-3784'], ['George Costanza', '(212) 345-8485'], ['Elaine Benis', '(212) 843-2485'], ['George Constanza', '(212) 555-7689']]

In [22]:
def read_csv_file2(filename):
    """Reads a CSV file and prints each row without list brackets. """
    f = open(filename)
    for row in csv.reader(f):
        print(row[0],"    ",row[1])
    f.close()

In [35]:
read_csv_file2("myphones.csv")

Jerry Seinfeld      (212) 434-1234
Elaine Benes      (212) 123-6543
Allan Green      (212) 556-2233

#### Exercise 23

This is a modification of write_csv(filename). Instead of getting the data
from a list, we're going to input it from the keyboard. This new function
name_phone(csv_filename) will put a friend's name and his/her phone number 
into a csv file. Here is a start. We are going to add features to the program 
so that each step is manageable and we don't get confused.

1) Run this program and see that you can enter names and they'll print.
   To exit, you enter a blank name (i.e., just press return or enter).
   Note the loop runs forever, so we have to use 'break' to get out.
   
2) Add an input statement to collect a phone number and a line to print the
   phone number. Carefully place these so that the program runs nicely; that 
   is, don't print anything until you have the phone number and don't get the
   phone number until you know the user isn't quiting. 
   
3) Now add writing to a CSV file. After each step you can try running the 
   function to make sure everything works. We're "growing" the program making
   sure that we have a working program each step of the way. You can check
   the work by double clicking on the created file and using Excel to peek into
   it. In the following be careful to put the right statements inside the loop 
   and the others outside the loop.
   
   a) First add any necessary import statements.
   
   b) Add a line opening the csv file for writing and a line closing the file. 
   
   c) As each line written to the CSV file must be a list, create an empty list
      like this: line = []. Note this should be inside the loop. Why?
      
   d) append the name to line; append the phone to line
   
   e) write the line to the CSV file

In [27]:
def name_phone(csv_filename):
    csvfile = open(csv_filename, "w", newline="")
    while True:
        nextname = input("Enter a Name, press return to end: ")
        if nextname =="":
            break
        nextphone = input("Enter phone number: ")
        print(nextname)
        print(nextphone)
        
        line = []
        line.append(nextname)
        line.append(nextphone)
        csv.writer(csvfile).writerow(line)
        
    csvfile.close()

In [36]:
name_phone("my_phones.csv")

Enter a Name, press return to end: Sam Smith
Enter phone number: 02 222-3453
Sam Smith
02 222-3453
Enter a Name, press return to end: Paul Grant
Enter phone number: 02 456-567
Paul Grant
02 456-567
Enter a Name, press return to end: Anne Bale
Enter phone number: 02 456-678
Anne Bale
02 456-678
Enter a Name, press return to end:

In [37]:
read_csv_file2("my_phones.csv")

Sam Smith      02 222-3453
Paul Grant      02 456-567
Anne Bale      02 456-678

#### Exercise 23

Updating a csv file

Let us read a CSV file containing a person's daily weights and compute the 
average weight and write that into the csv file.
Here we copy the old file to a new one and add an additional line that 
contains the average of all the weight values.  
Note that the first row has a header so we skip it.
Note also that the values are read in as strings and we must convert to float
(i.e., read number) before using a number for arithmetic.
Note that we are writing a new line at the end that contains the average.

In developing this program, we could somehow open a file and not manage to
close it. In which case, we may have to get out of Spyder to unlock the file.
Using a new name for the new file (we're writing to it), can also fix the
problem.

In [38]:
def update_csv(old_name, new_name):
 
    fin = open(old_name)
    fout = open(new_name,'w',newline = '')
    ct = 0
    tot_weight = 0.0
    for row in csv.reader(fin):
        if row[0]!="Date":
            ct = ct + 1
            tot_weight = tot_weight + float(row[1])
        csv.writer(fout).writerow(row)
    row = ["Average", tot_weight/ct]
    csv.writer(fout).writerow(row)
    fin.close()
    fout.close()

In [40]:
update_csv("weights.csv","weights1.csv")

In [42]:
!type weights1.csv

Date,Weight
05/01/2016,142
05/02/2016,143
05/03/2016,140
05/04/2016,141
05/05/2016,142
05/06/2016,141
05/07/2016,143
Average,141.7142857
Average,141.7142857125